# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Node (لو استُخدم لاحقًا)
# =========================
node_modules/
