name: CI Pipeline

on:
  push:
    branches: [ main, feature/** ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r project-service/requirements.txt

    - name: Run tests
      run: |
        cd project-service
        pytest
