name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]  # رابط CD مع CI
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to VM
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          timeout: 10m
          script_stop: false    
          script: |
            cd ~/UniCollab/project-service
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            # قتل أي uvicorn شغال على البورت 8000
            fuser -k 8000/tcp || true
            # تشغيل uvicorn
          
